.row
    .col-lg-2
        .row
            button.btn.btn-success.col-lg-12(ng-click="compose()")
                i.fa.fa-pencil(title='Compose')
                span.hidden-sm &nbsp; Compose
        .row &nbsp;
        .nav.nav-pills.nav-stacked.folders
            li(ng-class="{active:isFolderActive('inbox')}")
                a(href='#/inbox#inbox')
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; Inbox
            li(ng-class="{active:isFolderActive('drafts')}")
                a(href='#/inbox#drafts')
                    i.fa.fa-pencil
                    span.hidden-sm &nbsp; Drafts
            li(ng-class="{active:isFolderActive('sent')}")
                a(href='#/inbox#sent')
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; Sent Mail
            li(ng-class="{active:isFolderActive('archive')}")
                a(href='#/inbox#archive')
                    i.fa.fa-archive
                    span.hidden-sm &nbsp; Archive
            li(ng-class="{active:isFolderActive('all')}")
                a(href='#/inbox/#all')
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; All Mail
            li(ng-class="{active:isFolderActive('spam')}")
                a(href='#/inbox/#spam') 
                    i.fa.fa-warning
                    span.hidden-sm &nbsp; Spam
            li(ng-class="{active:isFolderActive('recycling')}")
                a(href='#/inbox/#recycling')
                    i.fa.fa-trash
                    span.hidden-sm &nbsp; Recycling                
            li(ng-repeat="folder in folders",ng-class="{active:isFolderActive(folder.name)}")
                a(href='#inbox/#{{folder.name}}')
                    i(ng-class="'fa fa-'+(('email' == folder.type)?'envelope':folder.type)")
                    span.hidden-sm &nbsp; {{ folder.name }}
    .col-lg-10
        include ./compose
        row
            .col-lg-12
                button.btn.btn-default.col-lg-2
                    i.fa.fa-archive
                    span.hidden-sm &nbsp; Archive
                button.btn.btn-default.col-lg-2
                    i.fa.fa-warning
                    span.hidden-sm &nbsp; Spam
                button.btn.btn-default.col-lg-2
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; Mark as Read
                
        table.messages.table.table-striped.table-hover
            thead
                tr
                    th
                        input.select-all(type='checkbox')
                    th From
                    th Subject
                    th Date
            tbody
                tbody(ng-repeat='row in tableRows')
                    tr
                        td
                            input(type='checkbox')
                        td(ng-click='toggleselect($event, row)') {{row.from}}
                        td(ng-click='toggleselect($event, row)') {{row.subject}}
                        td(ng-click='toggleselect($event, row)')
                            nobr {{row.date}}
                    tr.hideit(data-id='{{row._id}}')
                        td(colspan='4')
                            a(href='',ng-click='toggleselect($event, row)')
                                i.fa.fa-close
                                span.hidden-sm &nbsp; Close
                            .well
                                blockquote
                                    p {{row.subject}}
                                .row
                                    .col-lg-12
                                        .btn.btn-success(ng-click='row.showreply = true')
                                            i.fa.fa-reply
                                            span.hidden-sm &nbsp; Reply
                                        | &nbsp;
                                        .btn.btn-primary(ng-click='row.showforward = true')
                                            i.fa.fa-mail-forward
                                            span.hidden-sm &nbsp; Forward
                                        | &nbsp;
                                        .btn.btn-danger
                                            i.fa.fa-close
                                            span.hidden-sm &nbsp; Delete
                                .row
                                    .col-lg-12(ng-show='row.showreply')
                                        hr
                                        form.form-horizontal
                                            .form-group
                                                .well
                                                    textarea.form-control.col-lg-12 > {{row.subject}}
                                            hr
                                            .row
                                                .col-lg-12
                                                    .btn.btn-success
                                                        i.fa.fa-send
                                                        span.hidden-sm &nbsp; Send
                                                    | &nbsp;
                                                    .btn.btn-primary
                                                        i.fa.fa-save
                                                        span.hidden-sm &nbsp; Save as draft
                                                    | &nbsp;
                                                    .btn.btn-danger
                                                        i.fa.fa-close
                                                        span.hidden-sm &nbsp; Discard
                                    .col-lg-12(ng-show='row.showforward')
                                        hr
                                        form.form-horizontal
                                            .form-group
                                                .well
                                                    textarea.form-control.col-lg-12 {{row.subject}}
                                            hr
                                            .row
                                                .col-lg-12
                                                    .btn.btn-success
                                                        i.fa.fa-send
                                                        span.hidden-sm &nbsp; Send
                                                    | &nbsp;
                                                    .btn.btn-primary
                                                        i.fa.fa-save
                                                        span.hidden-sm &nbsp; Save as draft
                                                    | &nbsp;
                                                    .btn.btn-danger
                                                        i.fa.fa-close
                                                        span.hidden-sm &nbsp; Discard
                                    
