.row
    .col-lg-2
        .row
            button.btn.btn-success.col-lg-12(ng-click="compose()")
                i.fa.fa-pencil(title='Compose')
                span.hidden-sm &nbsp; Compose
        .row &nbsp;
        .nav.nav-pills.nav-stacked.folders
            li(ng-class="{active:isFolderActive('inbox')}")
                a(href='#/inbox#inbox')
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; Inbox
            li(ng-class="{active:isFolderActive('drafts')}")
                a(href='#/inbox#drafts')
                    i.fa.fa-pencil
                    span.hidden-sm &nbsp; Drafts
            li(ng-class="{active:isFolderActive('sent')}")
                a(href='#/inbox#sent')
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; Sent Mail
            li(ng-class="{active:isFolderActive('archive')}")
                a(href='#/inbox#archive')
                    i.fa.fa-archive
                    span.hidden-sm &nbsp; Archive
            li(ng-class="{active:isFolderActive('all')}")
                a(href='#/inbox/#all')
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; All Mail
            li(ng-class="{active:isFolderActive('spam')}")
                a(href='#/inbox/#spam') 
                    i.fa.fa-warning
                    span.hidden-sm &nbsp; Spam
            li(ng-class="{active:isFolderActive('recycling')}")
                a(href='#/inbox/#recycling')
                    i.fa.fa-trash
                    span.hidden-sm &nbsp; Recycling                
            li(ng-repeat="folder in folders",ng-class="{active:isFolderActive(folder.name)}")
                a(href='#inbox/#folder.name')
                    i(ng-class="'fa fa-'+(('email' == folder.type)?'envelope':folder.type)")
                    span.hidden-sm &nbsp; {{ folder.name }}
    .col-lg-10
        include ./compose
        row
            .col-lg-12
                button.btn.btn-default.col-lg-2
                    i.fa.fa-archive
                    span.hidden-sm &nbsp; Archive
                button.btn.btn-default.col-lg-2
                    i.fa.fa-warning
                    span.hidden-sm &nbsp; Spam
                button.btn.btn-default.col-lg-2
                    i.fa.fa-envelope
                    span.hidden-sm &nbsp; Mark as Read
                
        table.messages.table.table-striped.table-hover
            thead
                tr
                    th
                        input.select-all(type='checkbox')
                    th From
                    th Subject
                    th Date
            tbody
                tr(ng-repeat='row in tableRows')
                    td
                        input(type='checkbox')
                    td(ng-click='select(row.id)') {{row.from}}
                    td(ng-click='select(row.id)') {{row.subject}}
                    td(ng-click='select(row.id)')
                        nobr {{row.date}}
