.col-lg-12
    h1 Login
    form.form-horizontal(ng-submit='login()')
        .form-group
            label.control-label Username
            input(type='text',placeholder='Enter Username',ng-model='username')
        .form-group
            label.control-label Password
            input(type='password',placeholder='Enter Password',ng-model='password')
        .form-group
            label.control-label.text-warning(ng-show='showInvalid') Sorry, your credentials were invalid.
            label.control-label.text-danger(ng-show='showError') Sorry, there was an error.
        .form-group
            input(type='submit',value='Login',class='btn btn-primary')