.row
    .col-lg-12
        .row
            h4 Connect a new account:
            .panel.panel-default
                .row
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-facebook-official
                            p Facebook
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-twitter
                            p Twitter
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-at
                            p GNU Social
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-at
                            p Pump.io
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-skype
                            p Skype
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-google-plus
                            p Google+
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-youtube
                            p YouTube
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-linkedin
                            p LinkedIn
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-steam
                            p Steam
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-stack-overflow
                            p Stack Overflow
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-envelope
                            p Email
        .row
            h4 Connected Accounts
            .panel.panel-default
                table.table.table-striped
                    thead
                        tr
                            th &nbsp;
                            th Network
                            th Name
                            th Remove?
                    tbody
                        tr
                            td
                                i.fa.fa-facebook
                            td Facebook
                            td Bob Dobbs
                            td
                                a(href='#')
                                    i.fa.fa-times.text-danger
        .row
            h4 Change your account details