.row
    .col-lg-12
        .row
            h4 Connect a new account:
            .panel.panel-default
                .row
                    .col-lg-1.text-center
                        a(href='/auth/facebook')
                            h1
                                i.fa.fa-facebook-official
                            p Facebook
                    .col-lg-1.text-center
                        a(href='/auth/twitter')
                            h1
                                i.fa.fa-twitter
                            p Twitter
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-at
                            p GNU Social
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-at
                            p Pump.io
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-skype
                            p Skype
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-google-plus
                            p Google+
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-youtube
                            p YouTube
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-linkedin
                            p LinkedIn
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-at
                            p AIM
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-yahoo
                            p YIM
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-steam
                            p Steam
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-reddit
                            p Reddit
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-tumblr
                            p Tumblr
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-pinterest
                            p Pinterest
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-flickr
                            p Flickr
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-deviantart
                            p DeviantArt
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-stack-overflow
                            p Stack Overflow
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-stack-exchange
                            p Stack Exchange
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-envelope
                            p Email
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-lightbulb-o
                            p XMPP/Jabber
                    .col-lg-1.text-center
                        a(href='#')
                            h1
                                i.fa.fa-rss
                            p RSS
        .row
            h4 Connected Accounts
            .panel.panel-default
                table.table.table-striped
                    thead
                        tr
                            th &nbsp;
                            th Network
                            th Name
                            th Remove?
                    tbody
                        tr(ng-repeat='(id, row) in networks')
                            td
                                i(ng-class="'fa fa-'+row.type")
                            td {{ row.type }}
                            td {{ row.name }}
                            td
                                a(href='#')
                                    i.fa.fa-times.text-danger
        .row
            h4 Change your account details