button#login(type='button',ng-click='login()') login
button#api(type='button',ng-click='api()') api user data call
button#remove_auth(type='button',ng-click='removeAuth()') remove auth
button(ng-click='feed()') feed
button(ng-click='messages()') messages      
pre isReady:
    span#is_ready {{facebookIsReady}}
pre status:
    span#login_status {{loginStatus}}
pre username:
    span#api_first_name {{user.name}}