@charset "UTF-8";

a {
    cursor: pointer;
}

.compose {
    display: none;
}

.big {
    padding: 10px 15px;
}

table.messages {
    overflow: auto;
    height: auto;

    tr {
        cursor: pointer;
        font-size: 12px;
    }
}

.sweet-alert {
    margin-top: -200px !important;
}

::-webkit-input-placeholder {
    color: #333;
}

::-moz-placeholder {
    opacity: 1;
    color: #333;
}

:-ms-input-placeholder {
    color: #333;
}

.fa {
    min-width:15px;
}

.ng-cloak {
    display: none;
}
