@charset "UTF-8";
/* Custom things */
table.messages {
    overflow: auto;
    height: auto;

    tr {
        cursor: pointer;
        font-size: 12px;
    }
}

.sweet-alert {
    margin-top: -200px !important;
}

::-webkit-input-placeholder {
    color: #333;
}

::-moz-placeholder {
    opacity: 1;
    color: #333;
}

:-ms-input-placeholder {
    color: #333;
}

.fa {
    min-width:15px;
}

.ng-cloak {
    display: none;
}
