@charset "UTF-8";
/* Custom things */
table.messages {
    tr {
        cursor: finger !important;
        font-size: 12px;
    }
}

.sweet-alert {
    margin-top: -200px !important;
}

::-webkit-input-placeholder {
    color: #333;
}

::-moz-placeholder {
    opacity: 1;
    color: #333;
}

:-ms-input-placeholder {
    color: #333;
}
