nav.col-lg-12
  ul.nav.nav-pills
    li(ng-show="$root.status.isLoggedIn",ng-class="{active: isActive('/inbox')}")
      a(href='#/inbox')
        i.fa.fa-envelope(title="Inbox")
        span.hidden-sm &nbsp; Inbox
    li(ng-show="$root.status.isLoggedIn",ng-class="{active: isActive('/feed')}")
      a(href='#/feed')
        i.fa.fa-rss(title="Feed")
        span.hidden-sm &nbsp; Feed
    li(ng-show="$root.status.isLoggedIn")
      a(href='#/inbox#compose')
        i.fa.fa-pencil(title="Compose")
        span.hidden-sm &nbsp; Compose
    li(ng-show="$root.status.isLoggedIn",ng-class="{active: isActive('/settings')}")
      a(href='#/settings')
        i.fa.fa-cog(title="Settings")
        span.hidden-sm &nbsp; Settings
    li(ng-class="{active: isActive('/login')}",ng-show='!$root.status.isLoggedIn')
      a(href='#/login')
        i.fa.fa-sign-in(title="Login")
        span.hidden-sm &nbsp; Login
    li(ng-class="{active: isActive('/register')}",ng-show='!$root.status.isLoggedIn')
      a(href='#/register')
        i.fa.fa-user-plus(title="Register")
        span.hidden-sm &nbsp; Register
    li(ng-show='$root.status.isLoggedIn')
      a(href="#/",ng-click="logout()")
        i.fa.fa-sign-out(title="Logout")
        span.hidden-sm &nbsp; Logout
    li.pull-right
        .big(ng-show='!$root.status.isLoggedIn') Not logged in
        .big(ng-show='$root.status.isLoggedIn') Logged in as {{$root.status.username}}
form(ng-submit="search(searchterm)")
    input.form-control.spacearound#search(type='search',placeholder='Search...',ng-model='searchterm')
.alert.alert-success.ng-cloak(ng-show="undefined !== $root.flash.success",role='alert') {{ $root.flash.success }}
.alert.alert-warning.ng-cloak(ng-show="undefined !== $root.flash.warning",role='alert') {{ $root.flash.warning }}
.alert.alert-danger.ng-cloak(ng-show="undefined !== $root.flash.warning",role='alert') {{ $root.flash.danger }}
