doctype html
html(manifest='appcache.manifest',ng-app='pcomm')
  head
    title pComm: Portable Communicator
    base(href='')
    meta(name='viewport',content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',type='text/css',href='css/external.min.css')
    link(rel='stylesheet',type='text/css',href='css/index.min.css')
  body
    .container-fluid
      header.row(ng-controller='HeaderCtrl')
        nav.col-lg-12
          ul.nav.nav-pills
            li(ng-class="{active: isActive('/')}")
              a(href='#/') Home
            li(ng-class="{active: isActive('/new')}")
              a(href='#/new') New Message
            li(ng-class="{active: isActive('/accounts')}")
              a(href='#/accounts') Accounts
            li(ng-class="{active: isActive('/settings')}")
              a(href='#/settings') Settings
            li(ng-class="{active: isActive('/login')}",ng-show='!isLoggedIn')
              a(href='#/login') Login
            li(ng-class="{active: isActive('/register')}",ng-show='!isLoggedIn')
              a(href='#/register') Register
            li(ng-show='isLoggedIn')
              a(href="#/",ng-click="logout()") Logout
        input.form-control#search(type='search',placeholder='Search...')
        .alert.alert-success(ng-hide,ng-show="null !== flashsuccess",role='alert') {{ flashsuccess }}
      main.row
        ng-view.col-lg-12
      footer.row
        small Copyright &copy; 2015 pComm
    script(src='/js/external.js')
    script(src='/js/index.js')
    script(src='//localhost:35729/livereload.js')
    