doctype html
html(manifest='manifest.appcache',ng-app='pcomm')
  head
    title pComm: Portable Communicator
    base(href='')
    meta(name='viewport',content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet',type='text/css',href='css/external.min.css')
    link(rel='stylesheet',type='text/css',href='css/index.min.css')
    link(rel='icon',type='image/png',href='/favicon.png')
    link(rel='shortcut icon',type='image/png',href='/favicon.png')
    link(rel='apple-touch-icon',type='image/png',href='/favicon.png')
  body
    .container-fluid
      header.row(ng-controller='HeaderCtrl')
        include ./header
      main.row
        ng-view.col-lg-12
      footer.row.text-center
        small Copyright &copy; 2015 pComm
    script(src='/js/external.min.js')
    script(src='/js/index.min.js')
    script(src='//localhost:35729/livereload.js')
